<div class="px-16">
    <div class="text-2xl font-bold mb-4">Statistics</div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="bg-white p-6 rounded-3xl shadow-md border border-gray-100">
            <div class="text-sm text-gray-500">Total Tasks</div>
            <div class="text-3xl font-bold">4{{ tasks.length }}</div>
        </div>
        <div class="bg-white p-6 rounded-3xl shadow-md border border-gray-100">
            <div class="text-sm text-gray-500">Completed Tasks</div>
            <div class="text-3xl font-bold">27</div>
        </div>
        <div class="bg-white p-6 rounded-3xl shadow-md border border-gray-100">
            <div class="text-sm text-gray-500">Pending Tasks</div>
            <div class="text-3xl font-bold">10</div>
        </div>
        <div class="bg-white p-6 rounded-3xl shadow-md border border-gray-100">
            <div class="text-sm text-gray-500">To do Tasks</div>
            <div class="text-3xl font-bold">5</div>
        </div>
    </div>
</div>