
<div class="scroll-smooth flex flex-col min-h-screen bg-purple-100">
  <app-toast/>
  <app-header (addTask)="openAddTask()" />
  <app-stats />
  <div class="m-16 flex flex-col gap-6">
    @for (task of tasks$ | async; track task.id) {
      <app-taskcard [task]="task" />
    }
  </div>
  @if (showAddTask) {
    <div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
      <div class="w-full max-w-3xl">
        <app-addtask (close)="closeAddTask()"></app-addtask>
      </div>
    </div>
  }
  <!-- @if(showEditTask){
    <div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
      <div class="w-full max-w-3xl">
        <app-edittasks (close)="closeEditTask()"></app-edittasks>
      </div>
    </div>
  } -->
</div>